.logo {
    display: flex;
    justify-content: center;
    height: 100%;
}
.login-title {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.login-card{
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-form {
    width: 30%;
    height: 100%;
    background-color: var(--card-color);
    border-radius: 10px;
}
.login-form-field {
    margin: 5px 0;
    padding: 0 10px;
}
.login-form-field input {
    width: 90%;
}
.login-form-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
}
/* .signup  */
.button-submit {
    padding: 10px;
}
.login-form-username label, .login-form-email label,.login-form-password label {
    display: block;
    margin: 3px 0;
}
