.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header-menu-left{
    display: inline-flex;
    gap: 10px;
    list-style-type: none;
    font-weight: bold;
}
.header-menu-right {
    display: inline-flex;
    gap: 15px;
    list-style-type: none;
    font-weight: bold;
    padding-left: 0;
    padding-right: 40px;
}
.header-menu-left li a, .header-menu-right li a{
    text-decoration: none;

}
html {
    box-sizing: border-box;
}