.logo {
    display: flex;
    justify-content: center;
    height: 100%;
}
.signup-title {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.text-success{
    margin: 5px 0;
}
.signup-card{
    width: 100%;
    display: flex;
    justify-content: center;
}
.signup-form {
    width: 30%;
    height: 100%;
    background-color: var(--card-color);
}
.signup-form-field {
    margin: 5px 0;
    padding: 0 10px;
}
.signup-form-field input {
    width: 90%;
}
.signup-form-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
}
/* .signup  */
.button-submit {
    padding: 10px;
}
.signup-form-username label, .signup-form-email label,.signup-form-password label {
    display: block;
    margin: 3px 0;
}