.arrow {
    border: solid var(--text-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.header-wrap {
    display: inline-flex;
}
.header-box {
    display: inline-flex;
}
.header-box-navigation-button{
    display: flex;
    align-items: center;
}
.header-box-navigation-button i {
    cursor: pointer;
}
.header-box-content {
    text-align: center;
}
.header-box-content h1{
    margin-top: 5px;
}
.ul-tabs>li {
    display: inline-block;
    margin-right: 1.5em;
}
.active{
    color: black;
    font-weight: bold;
    color: var(--text-color);
}
.ul-tabs {
    padding-top: 15px;
}
.unactive{
    margin: 0;
    color: #9f9f9f;
    cursor: pointer;
}
/* .li-tab p {
    margin: 0;
    color: #9f9f9f;
    cursor: pointer;
} */
.anime {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 20px;
}
.anime-card {
    height: 340px;
    display: grid;
    font-size: 18px;
    grid-template-rows: 10% 10% 80%;
    background-color: #1f1f1f;
    text-align: center;
    border-radius: 5px ;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}

.anime-card_title {
    text-align: center;
    margin-bottom: 10px;
}
.anime-card_title a {
    text-decoration: none;
}
.anime-card_tags {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    font-size: 0.75rem;
}
.anime-card_tags>li {
    display: inline-block;
    padding-left: 5px;
}
.anime-card-poster {
    border-right: 1px dashed;
}
.anime-card-poster, .anime-card-poster_image {
    width: 177px;
    height: 100%;
    float: left;
}
.anime-card-info {
    display: flex;
    flex-flow: column;
}
.anime-card-info_studios, .anime-card-info_synopsis, .anime-card-info_date{
    border-top: 1px dashed;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.85rem;
}
ul.anime-card-info_studios{
    list-style-type: none;
    margin: 0 2px;
}
.anime-card-info_studios li {
    float: left;
    padding-right: 5px;
}
.anime-card-info-metadata {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 0;
    border: 0;
    border-top: 1px dashed;
}
.anime-card-info_synopsis {
    font-size: 0.75rem;
    text-align: left;
    max-height: 180px;
    overflow: scroll;
}
.anime-card-info_synopsis p {
    margin: 0;    
    overflow: hidden;
    /* overflow: scroll; */
}
.anime-card_title {
    margin: 0;
    font-size: 0.8rem;
}